<% provide(:title, "文章") %>
<%= render 'shared/banner' %>
<div class="content">
  <div class="show-article-content">
    <h1 class="article-title"><%= @article[:title] %></h1>
    <div class="article-status">
      <span class="upload-time"><%= image_tag 'upload-time.png' %><%= @article[:created_at] %></span>
      <span class="author"><%= image_tag 'author.png' %><%= @article[:author] %></span>
      <span class="theme"><%= image_tag 'theme.png' %>无主题</span>
    </div>
    <hr>
    <div class="article-body markdown-body" id="markdown-content"></div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var markdowm_content = document.getElementById('markdown-content');
    var content = decodeURIComponent(`<%== @article[:content] %>`)
    markdowm_content.innerHTML = marked(content)
  </script>

  <div class="comment-content">
    <h2>留言区</h2>
    <div class="input-comment">
      <% if signed_in?  %>
        <span>已登入<span class="comment-user"><%= @user[:username] %></span></span>
        <%= form_tag '/comments', romate: true do %>
        <textarea name="comment[content]" id="get-comment" placeholder="请输入评论内容"></textarea>
        <button id="btn-submit">提交</button>
        <input type="hidden" name="comment[article_id]" id="get-article-id" value="<%= @article[:id] %>">
        <% end %>
      <%  else  %>
        <span><a href="/signin">登录</a>后才能留言</span>
      <% end %>
    </div>
  </div>

    <ul class="comment-body">
      <% if @comment %>
        <% @comment.each do |item| %>
          <li class="comment-items">
            <%= image_tag 'user_avatar.png', class: 'avatar' %>
            <div class="username"><%= item[:author] %><span>说道：</span></div>
            <span class="comment-upload-time"><%= item[:created_at] %></span>
            <p><%= item[:content] %></p>
          </li>
          <hr>
        <% end %>
      <% end %>
    </ul>
</div>
<div class="fix-float"></div>

<script type="text/javascript" charset="utf-8">

</script>
