<% provide(:title, "文章") %>
<%= render 'shared/banner' %>
<div class="content">
  <div class="show-article-content">
    <h1 class="article-title"><%= @article[:title] %></h1>
    <div class="article-status">
      <span class="upload-time"><%= image_tag 'upload-time.png' %><%= @article[:created_at] %></span>
      <span class="author"><%= image_tag 'author.png' %><%= @article[:author] %></span>
      <span class="theme"><%= image_tag 'theme.png' %>无主题</span>
    </div>
    <hr>
    <div class="article-body markdown-body" id="markdown-content"></div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var markdowm_content = document.getElementById('markdown-content');
    var content = decodeURIComponent(`<%== @article[:content] %>`)
    markdowm_content.innerHTML = marked(content)
  </script>
<!--  <div class="comment-content">-->
<!--    <h2>留言区</h2>-->
<!--    <div class="input-comment">-->
      <%# if (user_status) { %>
<!--      <span>已登入<span class="comment-user"><%#= user_status.username %></span></span>-->
<!--      <textarea id="get-comment" placeholder="请输入评论内容"></textarea>-->
<!--      <button id="btn-submit">提交</button>-->
<!--      <input type="hidden" id="get-article-id" value="<%#= article_data[0].article_id %>">-->
      <%# } else { %>
<!--      <span><a href="/admin/login">登录</a>后才能留言</span>-->
      <%# } %>
<!--        </div>-->
<!--        <ul class="comment-body">-->
          <%# for(var n=0; n<comment_data.length; n++) { %>
<!--          <li class="comment-items">-->
<!--            <img src="/img/user-avatar.png" alt="" class="avatar">-->
<!--            <div class="username"><%#= comment_data[n].username %><span>说道：</span></div>-->
<!--            <span class="comment-upload-time"><%#= comment_data[n].upload_time %></span>-->
<!--            <p><%#= comment_data[n].comment_body %></p>-->
<!--          </li>-->
<!--          <hr>-->
          <%# } %>
<!--            </ul>-->
<!--            </div>-->
</div>
<div class="fix-float"></div>